

<div>
    <img src="\Audio\Books\HeartOfLove\album.jpg" style="width:300px;height:300px;" alt="album">

</div>

<div class="container">
    @*<a href="#demo2020" data-toggle="collapse"><span class=”icon”>Books Menu 2020 </span></a>*@

        @*<div id="demo2020" class="collapse">*@
        <div id="demo2020" >
            <ul>

                <li>
                    <a href="/Books/HeartOfLove?chapter=Indian Mystics">Heart Of Love - Indian Mystics</a>
                </li>

                <li>
                    <a href="/Books/HeartOfLove?chapter=Sufi">Heart Of Love - Sufi's </a>
                </li>

                <li>
                    <a href="/Books/HeartOfLove?chapter=Islam">Heart Of Love-Islam  </a>
                </li>
                <li>
                    <a href="/Books/HeartOfLove?chapter=Jewish">Heart Of Love-Jewish  </a>
                </li>

                <li>
                    <a href="/Books/HeartOfLove?chapter=Western">Heart Of Love-Western,Middle East  </a>
                </li>


                <li>
                    <a href="/Books/HeartOfLove?chapter=Hindu">Heart Of Love-Hindu   </a>
                </li>

                <li>
                    <a href="/Books/HeartOfLove?chapter=Sikh">Heart Of Love-Sikh Gurus   </a>
                </li>


                <li>
                    <a href="/Books/HeartOfLove?chapter=Taoist">Heart Of Love-Taoist    </a>
                </li>


                <li>
                    <a href="/Books/HeartOfLove?chapter=Jainism">Heart Of Love-Jainism    </a>
                </li>

                <li>
                    <a href="/Books/HeartOfLove?chapter=Buddhist ">Heart Of Love-Buddhist     </a>
                </li>

                <li>
                    <a href="/Books/HeartOfLove?chapter=Science ">Heart Of Love-Science     </a>
                </li>

                <li>
                    <a href="/Books/HeartOfLove?chapter=Current ">Heart Of Love-Current     </a>
                </li>


                <li>
                    <a href="/Books/HeartOfLove?chapter=Indigenous ">Heart Of Love-Indigenous     </a>
                </li>



            </ul>
        </div>
    </div>
